.icon_menu{
    margin:28px 0px 0px 30px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    width: 15%;
}
#menu-responsiv{
    position: absolute;
    right: 30px;
    display: none;
     width: 25px;
     height: 25px;

}
@media only screen and (max-width: 950px){
    #menu-responsiv{
        display: inline;
    }
    
}
@media only screen and (max-width: 700px){
.icon_menu{
    width: 18px;
    height: 18px;
    width: 40%;
}
}
