.bar{
    margin:0px auto;
    width: 82%;
    height: 40px;
    background-color:white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    padding-right: 10px;
    color:#26A69A;
    font-size: 12px;
}
@media only screen and (max-width: 950px)
{
.bar{
    width: 94%;
}
}