@font-face {
    font-family: IRANSans;
    src: url('./FontsFree-Net-ir_sans.ttf');
    font-weight: normal;
  }
*{
    font-family: IRANSans;
    margin: 0px;
    padding: 0px;
}
.cover{
    
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000000d1;
    z-index: 999999;
    display: none;
}
.A{
    width: 100%;
    height: 630px;
    background-color: rgb(250, 250, 250);
  
    
}

.sidebar{
    width:13%;
    height: 630px;
    background-color: #26A69A;
    font:12px; 
    float: right;
}
.menutop
{
    width: 87%;
    height: 100px;
    float: left;


}
.right{
    width: 87%;
    height: 530px;
    display: flex;
    flex-direction: row-reverse;
    
}
.Mid{
    width:35%;
    margin-right: 25px;
    margin-top: -20px;
}
.A-top{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.A-top-menu{
    width: 100%;  height: 110px;
    display: flex;

}
.icon_menu{
    margin:28px 0px 0px 30px;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    width: 15%;
}
#menu-responsiv{
    position: absolute;
    right: 30px;
    display: none;
     width: 25px;
     height: 25px;

}
.A-top-chart{
    width: 95%;
    height: 250px;
    background-color: rgb(255, 254, 254);
    border:0.1px solid rgb(223, 223, 223);
    border-radius: 10px;
    box-shadow:rgb(212, 210, 210) 1px 1px 3px;
}
.chart{
width: 550px;
position: relative;
left: 45px;
bottom: 32px;
}
.A-section{
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;

}
.A-footer{
    width: 100%;
    height: 110px;
    margin-right: 20px;
   
   

}
.Green-sec{
    width: 30%;
    height: 130px;
    background-image: linear-gradient(#1BC800, #117A00);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
}
.text-green
{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.number{
    font-size: 22px;
}
.thermometer
{
    display:flex;
    justify-content: center;
}
.liner{
    width: 40%;
    height: 24px;
    background-color: white;
    display: flex;
    align-items: center;
    align-self: center;
    border: 0px solid;
    border-radius: 20px;
    
}
.plus{
    background-color: white;
    width: 9%;
    height: 20px;
     border: 0px solid;
    border-radius: 50px;
    align-self:center;
    align-content: center;
    margin: 10px;
}
.mini{
    background-color: white;
    width: 9%;
    height: 20px;
     border: 0px solid;
    border-radius: 50px;
    align-self:center;
    align-content: center;
    margin: 10px;

}
.text-green2{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-self: center;
    color: white;
    font-size: 14px;
}
.Orange-sec{
    width: 30%;
    height: 130px;
    background-image: linear-gradient(#FFDD00, #DB7900);
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 12px;
    flex-direction: row-reverse;
}
.text-orange{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    align-self: center;
    color: white;
    font-size: 14px;
}
.text-orange-2{
    
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.text-orange-3{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: row-reverse;

    
}
.keyboard_arrow_down {
  height: 22px;
}
.Blue-sec{
    width: 30%;
    height: 130px;
    border: 0px solid ;
    border-radius: 15px;
    background-image: linear-gradient(#007FF9, #00478C);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.text-blue {
    font-size: 13px;
    display: flex;
    flex-direction: column;
    direction: rtl;
    align-self: center;
    color: white;
    font-size: 14px;
}
.txt{
    padding-bottom: 5px;
    font-size: 11px;
}
.img{
    width: 50px;
    height: 50px;
    margin-top: 15px;
}
.foot{
    width: 95%;
    height: 100px;
    background-color: white;
    border:0.1px solid rgb(223, 223, 223);
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    margin-left: 25px;
    padding-left: 10px;
    box-shadow:rgb(212, 210, 210) 1px 1px 3px;
}
.div-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-size: 10px;
}
.img-foot{
    width: 70px;
    height: 70px;
}

.img-blue-circle {
    width: 52px;
    height: 52px;
    position: absolute;
    margin-left:0px;
    margin-bottom: -5px;
    margin-top: 9px;
}
.img-create {
    width: 20px;
    height:20px;
    position: absolute;
    margin-left:0px;
    margin-bottom: -5px;
    margin-top: 25px;

}
.avatar{
    background-color: white;
    width: 100%;
    height: 140px;
  }
.avat img{
      width: 60px;
      height: 60px;
  }
.menu{
    display: flex;
    flex-direction: column;
  }
  a{
    text-decoration: none;
    color: white;
  }
  
  .anchor{
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 15px;
    justify-content: flex-end;
  
  }
  
  .anchor:hover{
    background-color:#00766C;
    border-radius: 13px;
  }
  
  .image{
  width: 20px;
  display: flex;
  justify-content: center;
  margin-right: 44px;
  padding-left: 15px;
  }
  
  .text-link{
    display: flex;
    justify-content: center;
    /* margin-left: 15px;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px; */
  font-size: 10px;
  }
  
  .arrow{
    width: 20px;
    margin-top: 10px;
    margin-left: 10px;
    
  }
  
  .top-menu{
  
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  .avat{padding-left: 55px;}
  
  .name-avatar{
    color: #26A69A;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    align-items: center;
  }
  
  .Condition{

    font-size:8px;
  }
  
  .point{
    width: 7px;
    padding-right: 8px;
  }
/*mahbube*/
.box-top{
    width: 100%;
    height: 130px;
    border:0.1px solid rgb(223, 223, 223);
    background-color: white;
    border-radius: 15px;
    padding-top: 15px;
    direction: rtl;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    box-shadow:rgb(212, 210, 210) 1px 1px 3px;
}
.text{
    color: teal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:-20px;
   
}
.text p{
    margin-top: 10px;
    font-size: 12px;
}
.text b{
    font-size: 13px;
}
.map{
    width: 100%;
    height: 227px;
    background-color: rgb(245, 245, 245);
    border:0.1px solid rgb(223, 223, 223);
    border-radius: 15px;
    box-shadow:rgb(212, 210, 210) 1px 1px 3px;
}
.img-map{
    width: 400px;
    height: 220px;
}
.box-center{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 22px;
}
.font{
    font-size: 11px;
}
.box-botton{
    width: 100%;
    height: 100px;
    border-radius: 15px;
    background-color: rgb(71, 163, 135);
    box-shadow: rgb(255, 255, 255);
    border:0.1px solid rgb(223, 223, 223);
    box-shadow:rgb(212, 210, 210) 1px 1px 3px;

}


.text{
    color: teal;
    font-size: 8px;
    display: flex;
    flex-direction: column;
}


.icon{
    
    display: flex;
    flex-direction:row;
    margin-top: 25px;
    justify-content: space-around;
    align-items: center;
   
}
.x{
    width: 35px;
    height: 40px;
    background-color:white;
    border-radius:50%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-left: 18px;
    padding-top: 12px;
    
}
.x-icon{
    width: 23px;
    height: 23px;
    margin-top: 5px;
}
.imgg{
    width:170px;
    height:140px;
    
}
.del-icon{
    position: relative;
    right: 0px;
    bottom: 10px;
    width: 17px;
    height:17px;
}



.edit{
    width: 100px;
    height: 35px;
    border-radius: 10px;
    background-color:white;
    border:0.1px solid rgb(223, 223, 223);
    font-size: 10px;
}
.button-edit{
    margin-bottom: 15px;
}
.edit-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-self: center;
}

/* responsive*/

@media only screen and (max-width: 950px)
{
.sidebar {
    width: 30%;
    display: none;
    position: absolute;
    z-index: 9999999;
}
#menu-responsiv{
    display: inline;
}
.right{
    width: 100%;
    display: flex;
    flex-direction:column;
}
.menutop
{
    width: 100%;
    height: 70px;
    float: left;
    background-color: lightseagreen;

}
.A-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chart{
    width: 550px;
    position: relative;
    left: 100px;
    bottom: 32px;
    }

.Mid{
    width:100%;
    margin-right: 25px;
    margin-top: 20px;
    display: inline;
    }
    .box-top{
        width: 49%;
        float: right;
        height: 160px;
  
    }
    .map{
        width: 50%;
        height: 340px;
        float: left;
    }
    .box-center{
        width: 49%;
        height: 40px;
        float: right;
        position: relative;
    }
    .font{
        font-size: 11px;
    }
    .box-botton{
        width: 49%;
        float: right;
        height: 100px;
    
    }
}
@media only screen and (max-width: 700px) {

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Mid{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.box-top{
    width: 95%;
    align-self: center;
    margin-left: 20px;
}
.icon_menu{
    width: 18px;
    height: 18px;
    width: 40%;
}
.box-center{
    width: 95%;
    height: 40px;
    float: right;
    position: relative;
    top: 0px;
    left: 10px;
}
.map{
    width: 95%;
    height: 230px;
    align-self: center;
    margin-left: 20px;
}
.img-map{
    align-content: center;
    vertical-align: middle;
    position: relative;
    right: 10px;
}
.box-botton{
    width: 95%;
    height: 100px;
    position: relative;
    top: 0px;
    left: 10px;
}
.A-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.chart{
    width: 100%;
    position: relative;
    left: 0px;
    bottom: -5px;
    }
.A-section{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction:column;
        vertical-align: middle;
       align-content: center;
       align-items: center;
        margin-top:0px;
        margin-bottom: 0px;
    
    }
    .Orange-sec{
        width: 95%;
        height: 130px;
        background-image: linear-gradient(#FFDD00, #DB7900);
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        color: white;
        font-size: 12px;
        flex-direction: row-reverse;
    }
    .Blue-sec{
        width:  95%;
        height: 130px;
        border: 0px solid ;
        border-radius: 15px;
        background-image: linear-gradient(#007FF9, #00478C);
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }
    .Green-sec{
        width: 95%;
        height: 130px;
        background-image: linear-gradient(#1BC800, #117A00);
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: white;
    }
    .foot{
        width: 95%;
        margin-left: 15px;
    }

}